<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://maryucha.dev" target="_blank">
            <img src="../../../../assets/logo.png">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Cadastro
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light is-primary" (click)="logOut()">
                        <span class="icon"><i class="material-icons">logout</i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="main-content columns is-fullheight">

    <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
        <p class="menu-label is-hidden-touch">Navigation</p>
        <ul class="menu-list">
            <li>
                <a href="#" class="">
                    Home
                </a>
            </li>
            <li>
                <a href="#" class="">
                    About
                </a>
            </li>
        </ul>
    </aside>

    <div class="container column is-10">
        <div class="section">

            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <app-list></app-list>
                    </div>
                </div>
            </div>
            <br />

        </div>
    </div>

</section>